@model Build_Power_App.News

<div class="modal-content" style="width:900px;     position: absolute; left: -130px;">
    <div class="modal-header" style="border-bottom:0;    padding-top: 40px; margin-top:-15px;">
        <h3 style="right: 30px; top: 5px; position: absolute;"><button class="close" data-dismiss="modal" area-hidden="true" style="padding:0;"><i class="material-icons" style="font-size: 36px; color: red; border-color: red; background: antiquewhite; padding:0;">close</i></button></h3>

    </div>
    <div class="modal-body" style="padding: 10px;
    padding-top: 0px;">


        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-text card-header-danger">
                    <div class="card-text">
                        <h5 class="card-title">Are you sure you want to delete this?</h5>
                    </div>
                </div>
                <div class="card-body" style="padding-top:15px">

                    <div>

                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Title)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.DateTime)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.DateTime)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.AuthorID)
                                    </dt>

                                    <dd>
                                        @{ string result2 = "";
                                            int roleid = 0;
                                            foreach (var item in ViewBag.users)
                                            {
                                                if (item.ID == Model.AuthorID)
                                                {
                                                    roleid = item.RoleID;
                                                }
                                            }
                                            foreach (var item in ViewBag.roles)
                                            {
                                                if (roleid == item.ID)
                                                {
                                                    result2 = item.Name;
                                                }
                                            }
                                        }
                                        @result2
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CategoryID)
                                    </dt>

                                    <dd>
                                        @{ string result = "";
                                            foreach (var item in ViewBag.categories)
                                            {
                                                if (Model.CategoryID == item.ID)
                                                {
                                                    result = item.Name;
                                                }
                                            }
                                        }
                                        @result
                                    </dd>


                                </dl>
                            </div>
                            <div class="form-group col-md-6">

                                <dl class="dl-horizontal">


                                    <dt>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Picture)
                                    </dt>

                                    <dd>

                                        <img src="@Url.Content("~/Content/images/" + System.IO.Path.GetFileName(Model.Picture))" style="width:400px; height:250px;  object-fit: contain;" alt="" />
                                    </dd>



                                </dl>
                            </div>
                        </div>





                        <form action="/New/DeleteNews" method="post" style="margin-top: -80px;">
                            <input type="hidden" class="fadeIn fourth btn btn-danger" name="id" value="@ViewBag.model.ID">
                            <input type="submit" class="fadeIn fourth btn btn-danger" value="Delete">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
                        </form>

                    </div>
                </div>
            </div>



        </div>
    </div>

</div>
